#container-signin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  background-color: #FFFF;
  border-radius: 15px;
  width: 800px;
  height: 400px;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.content::before {
  content: "";
  position: absolute;
  background-color: #8C53FE;
  width: 40%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;

  left: 0;
}

.title {
  font-size: 28px;
  font-weight: bold;
  text-transform: capitalize;
}

.title-primary {
  color: #FFFF;
}

.title-second {
  color: #8C53FE;
}

.description {
  font-size: 14px;
  font-weight: 50;
  color: #FFFF;
  line-height: 30px;
}

.btn {
  border-radius: 20px;
  text-transform: uppercase;
  color: #FFFF;
  font-size: 10px;
  padding: 10px 40px;
  cursor: pointer;
  font-weight: bold;
  width: 150px;
  align-self: center;
  border: none;
  margin-top: 1rem;
}

.btn-primary {
  background-color: transparent;
  border: 1px solid #FFFF;
  transition: background-color .5s;
}

.btn-primary:hover {
  background-color: #FFFF;
  color: #8C53FE;
}

.btn-second {
  background-color: #8C53FE;
  border: 1px solid #8C53FE;
  transition: background-color .5s;
}

.btn-second:hover {
  background-color: #FFFF;
  border: 1px solid #8C53FE;
  color: #8C53FE;
}

.first-content {
  display: flex;
}

.first-content .second-column {
  z-index: 11;
}

.first-column {
  text-align: center;
  width: 40%;
  z-index: 10;
}

.second-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.form input {
  height: 40px;
  width: 100%;
  border: none;
  background-color: #ECF0F1;
  outline: none;
}

.div-input {
  background-color: #ECF0F1; 
  display: flex;
  align-items: center;
  margin: 4px;
}

.div-input svg {
  color: #F7D358;
  font-size: 20px;
  padding: 0 5px;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #ECF0F1 inset;
}

/* ----------------------------------------------------------------- */

.second-content {
  position: absolute;
  display: flex;
}

.second-content .first-column {
  order: 2;
  z-index: -1;
}

.second-content .second-column {
  order: 1;
  z-index: -1;
}

.sign-in .first-content .first-column,
.sign-in .first-content .second-column {
  z-index: -1;
}

.sign-in .second-content .second-column {
  z-index: 11;
}

.sign-in .second-content .first-column {
  z-index: 13;
}

.sign-in .content::before {
  left: 60%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  animation: slidein 1.5s;

  z-index: 12;
}

.sign-up .content::before {
  animation: slideout 1.5s;

  z-index: 12;
}

.sign-up .second-content .first-column,
.sign-up .second-content .second-column {
  z-index: -1;
}

.sign-up .first-content .second-column {
  z-index: 11;
}   

.sign-up .first-content .first-column {
  z-index: 13;
}

/* DESLOCAMENTO CONTEUDO */
.sign-in .first-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoEsq 1.5s;
}

.sign-up .second-content .second-column {
  z-index: -1;
  position: relative;
  animation: deslocamentoDir 1.5s;
}

/* ANIMACAO CONTEUDO */

@keyframes deslocamentoEsq {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: -80px;
    opacity: .5;
  }

  50% {
    left: -100px;
    opacity: .2;
  }

  to {
    left: 110px;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes deslocamentoDir {
  from {
    left: 0;
    opacity: 1;
    z-index: 12;
  }

  25% {
    left: 80px;
    opacity: .5;
  }

  50% {
    left: 100px;
    opacity: .2;
  }

  to {
    left: 110px;
    opacity: 0;
    z-index: -1;
  }
}

/* ANIMAÇÃO */

@keyframes slidein {
  from {
    left: 0;
    width: 40%;
  }

  25% {
    left: 5%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 45%;
    width: 50%;
  }

  to {
    left: 60%;
    width: 40%;
  }
}

@keyframes slideout {
  from {
    left: 60%;
    width: 40%;
  }

  25% {
    left: 45%;
    width: 50%;
  }

  50% {
    left: 25%;
    width: 60%;
  }

  75% {
    left: 5%;
    width: 50%;
  }

  to {
    left: 0;
    width: 40%;
  }
}