body {
  background-image: url("../images/login-background.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, button, textarea {
  font: 600 15px Nunito, sans-serif;
}
